<header class="header">
    <nav class="navbar">
        <a href="~/Intro/Index" class="navbar__item"><span class="navbar__underline">LINGVA</span></a>
        <a href="~/Hub/Index" class="navbar__item"><span class="navbar__underline">HUB</span></a>
        @{
            if (User.Identity.IsAuthenticated)
            {
                <a href="~/Account/Check    " class="navbar__item"><span class="navbar__underline">@User.Identity.Name</span></a>
            }
            else
            {
                <a href="~/Account/Register" class="navbar__item"><span class="navbar__underline">ПРОФИЛЬ</span></a>
            }
        }
        </nav>
</header>