footer, .footer_text {
    background-color: #151515;
    color: #ababab;
    text-align: center;
}

.footer_text {
    padding-top: 15px;
}

footer a {
    background-color: #151515;
    color: #ababab;
    text-decoration: none;
}

footer a:hover {
    border-bottom:1px solid #fff;
    color: #fff;
}

.copyright {
    padding-top: 20px;
    padding-bottom: 10px;
}
