.container {
    margin: 0px 115px 0px 115px;
}

.welcome * {
    font-weight: 300;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.company_name {
    margin-top: 30px;
    font-size: 80px;
}

.company_description {
    margin-top: 60px;
    font-size: 40px;
}

.get_started_btn a {
    text-decoration: none;
    background-color: #69B772;
}


.welcome button {
    padding: 10px 30px 10px 30px;
    margin-top: 70px;
    margin-bottom: 40px;
    background-color: #69B772;
    font-weight: 500;
    font-size: 50px;
    
    border-radius: 15px;
    border: none;

    opacity: 1;
    cursor: pointer;    
}

.welcome button:hover {
    background-color: #69B772;
    opacity: .8;
}

.lingva_logo_welcome {
    margin-top: 50px;
    height: 400px;
    width: 400px;
}