.intro {
    width: 100%;
    height: 100%;
    background: url('../assets/library.jpg');
    background-position: center; 
    background-attachment: fixed;
}

.intro__content {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.intro__centered {
    width: 344px;
    color: #fff;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro__text {
    word-wrap: break-word;
    width: 100%;
    font-weight: 300;
}

.intro__title {
    padding-top: 8px;
    padding-bottom: 32px;
}

.intro__button {
    position: relative;
    display: inline-block;
    width: 208px;
    height: 72px;

    margin-top: 48px;

    line-height: 72px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    transition: 2s;
}

.intro__button span {
    z-index: 10;
}

.button__svg, .button__rect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: none;
}

.button__rect {
    stroke: #67B26F;
    fill: #67b26f7a;
    stroke-width: 5;
    stroke-dasharray: 70px 210px;
    stroke-dashoffset: 595px;
    transition: .5s;
}

.intro__button:hover .button__rect,
.intro__button:focus .button__rect {
    fill: #4ca2cd7a;
    stroke: #4ca2cd;
    stroke-dashoffset: 105px;
}

.intro__button a {
    color: #fff;
    text-decoration: none;
} 