@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/admin_css/choose-needtheme.css" asp-append-version="true">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @await Html.PartialAsync("_CssHeaderPartial")
    <link rel="stylesheet" href="../css/base.css" asp-append-version="true">
    <title>Choose Need Theme</title>
</head>
<body>
    @await Html.PartialAsync("_HeaderPartial")
    <div class="container">
        <p class="nomer-temi">ВЫБЕРИТЕ НОМЕР ТЕМЫ:</p>
        <div class="scrollable">
            <table>
                <tr>
                    <th> ID УРОКА </th>
                    <th> ТИП УРОКА </th>
                    <th> Дата добавления/редакции </th>
                </tr>
                <tr>
                    <td><a href="#"> 01 </a></td>
                    <td><a href="#">PRESENT SIMPLE </a></td>
                    <td><a href="#">4 </a></td>
                </tr>
                <tr>
                    <td><a href="#"> 02  </a></td>
                    <td><a href="#">PRESENT CONTINUOUS </a></td>
                    <td><a href="#">2 </a></td>
                </tr>
                <tr>
                    <td><a href="#"> 03  </a></td>
                    <td><a href="#">FUTURE SIMPLE </a></td>
                    <td><a href="#">4 </a></td>
                </tr>
                <tr>
                    <td><a href="#"> 04  </a></td>
                    <td><a href="#">FUTURE CONTINUOUS </a></td>
                    <td><a href="#">3 </a></td>
                </tr>
                <tr>
                    <td><a href="#"> 05  </a></td>
                    <td><a href="#">PAST SIMPLE </a></td>
                    <td><a href="#">4 </a></td>
                </tr>
                <tr>
                    <td><a href="#"> 06  </a></td>
                    <td><a href="#">PAST CONTINUOUS </a></td>
                    <td><a href="#">3 </a></td>
                </tr>
                <tr>
                    <td><a href="#"> 07  </a></td>
                    <td><a href="#">RELATIVE CLAUSES</a></td>
                    <td><a href="#">4 </a></td>
                </tr>
                <tr>
                    <td><a href="#"> 08 </a></td>
                    <td><a href="#">PAST CONTINUOUS </a></td>
                    <td><a href="#">3 </a></td>
                <tr>
                    <td><a href="#"> 09  </a></td>
                    <td><a href="#">RELATIVE CLAUSES</a></td>
                    <td><a href="#">4 </a></td>
                </tr>
                <tr>
                    <td><a href="#"> 010 </a></td>
                    <td><a href="#">FUTURE IN THE PAST</a></td>
                    <td><a href="#">3 </a></td>
                </tr>
            </table>
        </div>

        <button class="new-lesson">НОВЫЙ УРОК</button>
    </div>



</body>
</html>
