@model Lingva.Models.Lesson
@using Lingva.Models 
@{
    Layout = null;
    ELanguageList russian = ELanguageList.Russian;
    ELanguageList english = ELanguageList.English;
    ELanguageList deutsch = ELanguageList.Deutsch;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/admin_css/choose-language.css" asp-append-version="true">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @await Html.PartialAsync("_CssHeaderPartial")
    <link rel="stylesheet" href="../css/base.css" asp-append-version="true">
    <title>Choose Language</title>
</head>
<body>
    @await Html.PartialAsync("_HeaderPartial")
    <h1 class="title">ВЫБЕРИТЕ ЯЗЫК:</h1>
    <div class="container">
        <div class="container__items">
            <form method="post" asp-controller="LessonCreate" asp-action="ChooseLanguage">
                <div asp-validation-summary="ModelOnly"></div>
                    @using (Html.BeginForm("CheckRadio", "LessonCreate", FormMethod.Post))
                    {
                        <div>
                            ВЫБЕРИТЕ ЯЗЫК:<br />
                            РУССКИЙ @Html.RadioButton("Language", "russian")
                            АНГЛИЙСКИЙ @Html.RadioButton("Language", "english")
                            НЕМЕЦКИЙ @Html.RadioButton("Language", "deutsch")
                        </div>
                        <input type="submit" value="submit" />
                    }


            </form>
        </div>
    </div>
</body>
</html>

