@model Lingva.ViewModels.ChooseLanguage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChooseLanguage</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Model.Title*@
            </th>
            <th>
                @*@Model.Message*@
            </th>
            <th></th>
        </tr>
    </thead>
</table>
</body>
</html>
