.features { 
    padding-top: 20vh;
    padding-bottom: 20vh;
    display: flex;
    justify-content: center;
}

.features, .features * {
    background-color: #292929;
}

.features img {
    height: auto;
    width: 100%;
}

.features ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.features ul li {
    width: 25%;
    padding: 0 10px 0 10px;
    text-align: center;
    color: #fff;
}

.features h2, h4 {
    font-weight: 300;
}

.features h2 {
    padding-top: 15px
}

.features h4 {
    padding-top: 20px;
}