@model Lingva.ViewModels.RegisterViewModel
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../css/Registration/registration_window.css" asp-append-version="true">
    <title> Lingva: Create Account</title>
</head>
<body>
    <div class="auth">
        <form method="post" asp-controller="Account" asp-action="Register" class="window">
            <div asp-validation-summary="ModelOnly"></div>
            <h1 class="main">РЕГИСТРАЦИЯ</h1>
            <p class="enter_link">Уже есть аккаунт? <a href="#">Авторизоваться</a></p>
            <div class="field">
                <label asp-for="Email"></label><br />
                <input class="Angaben" asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="field">
                <label asp-for="UserName"></label><br />
                <input class="Angaben" asp-for="UserName" />
                <span asp-validation-for="UserName"></span>
            </div>
            <div class="field">
                <label asp-for="Password"></label><br />
                <input class="Angaben" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="field">
                <label asp-for="PasswordConfirm"></label><br />
                <input class="Angaben" asp-for="PasswordConfirm" />
                <span asp-validation-for="PasswordConfirm"></span>
            </div>
            <div>
                <input class="button_push" type="submit" value="Зарегистрироваться" />
            </div>
        </form>
    </div>
</body>
</html>